{% extends '@WebProfiler/Profiler/layout.html.twig' %}
{% block head %}
    {{ parent() }}
    {% include 'BeautyLogBundle:Collector:style.css.twig' %}

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% include 'BeautyLogBundle:Collector:config_chart.js.twig' %}

{% endblock %}
{% import _self as logger %}

{% block toolbar %}
    {% include 'BeautyLogBundle:Collector:toolbar.html.twig' %}
{% endblock %}

{% block menu %}
    {% include 'BeautyLogBundle:Collector:menu.html.twig' %}
{% endblock %}

{% block panel %}
    {% set priority = request.query.get('priority', 0) %}
    {# Chart #}
    <h2>Logs</h2>
    <table style="width: 80%; border: 0;">
        <tr>
            <td style=" border: none;">
                <div id="chart_current" style="float: right; "></div>
            </td>
            <td style="width: 22px; margin:0; padding: 5px; border: none; ">
                <a href="{{ query_manager.getIconSwitcherUrl }}&chart=PieChart"><img width="21" height="20" title="Pie Chart" alt="Pie Chart"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAABNUlEQVQ4y62UQa3FIBBFKwEJSEACEioBA02QgIKy7qoSkICESkBAF0jgcXmQNDyg5OdPctOmDKc3MDNLCGGBehHXSBRdJiOxJqAq6vpPKNn3XYdvgs0yUTKK/gWqojxjDMxAKUVSrRM/jstIIiMoFq/nZgTnvAUN27a58A0+gtp6o3MuSCl/gEKIRDuOw2czTahoubHWBqVUE4hn/qZ7UNeCaq0TeAAsojWUt4AQXOIIXoCQrKGyB8UlFdAAmKqhhqoetJTVCzDV8jQUMsYkKJ6EkF6eqaHrCAqt65rO1nuf3hs5qoaSNygEl6iG4rrqNNYqqXMGXC6vuM6N4Xp1iiHhZ8FwjXJD3Pd9YUT02lTMQh/NkMZjlB1NKT7p2GcT06OP5DJzHdjZmqlTk/9x1jyLvU3+D/qDKlyZZw5ZAAAAAElFTkSuQmCC"/></a>
                <a href="{{ query_manager.getIconSwitcherUrl }}&chart=LineChart"><img width="21" height="20" title="Line Chart" alt="Line Chart"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAACI0lEQVQ4y7WUW2saURDH913z2mdJ6UMLpUk/QPuieAMVb+sFDXhFUaSLIIR6jcZ6rbeoIajVahO3aVOaNklptuSb2ZmFFbt2hVZzYB72nP/+zsx/ZpeYzWbEpmPjwPuDyuXypkajCRGbXDqd7i4QCLxZlyOVSh8pFIp9tVotJkiSZBKJxMGawC2AXTmdzp9+v/+IsFgsTDqdPhASoz3s7SuASqWyj8BUKvW5Wq0WV0IRaLPZGLzdbreLBTT7VquVicfjX05gdbtdkSBUJpO5zGYzE4vFvsLtNLz0lg8GDWk0Gn9Fo9HLdrt91uv1JOzB36BoularvYtEIt+azeZ0OByOIYPTRTAAn6MmHA5/r9frdL/ffzEH8KHokUqloj0ez49isfgRxNRgMDhZBDscjmd6vf4SbLkulUqo8f9RJh+KHkE2t2D6BZRz2Ol0RPl8XlIul9/B8wcEY0OwZNg/h73XS0YvQk0mk9xgMLAeAawHvks4nc/n285msyMEc3DIsMY2RggKZT2AsbgIBoNXtVqNhheVfK3b7X7Igcfj8fG8MULQTCZTpSiKK4kSmksODJW8FNKwUBB9ajQaUxyd+aytWC6XS7zqnIVidtDhCXYYsnxMrLsQWigUzieTyfvRaPQK/HwSCoWewo9mBz6/XfhJLAXuc8E/W4JipjA6NHrr9XpvcFb/NVgofIp7yWSSBOONrVbLVKlUzLlcjoTm/Vcg8zdcyywV96VefwAAAABJRU5ErkJggg=="/></a>
                <a href="{{ query_manager.getIconSwitcherUrl }}&chart=ColumnChart"><img width="21" height="20" title="" alt=""
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAABnUlEQVQ4jdWVX0vCUBjG/QLd9wW6iS60T9CF4qZTh0yHDIYO8WII3rhAWTTBi3Rgm/kPBEGwKCkr7A8VUX0ye17BKMIgPBAJjxye9zk/j+/Oyzyz2czDWvOvQCAQCofDriiKDsR5Vv0QlOf5jKqqT8VicQqlmEAjkUgmn8/fuq47hhLMoIVC4abb7Z5C0m8Zfr9/DS3cDgaDPo7jNphACRiLxd6ohZqm2UygdEICWpZ1Wa/XraXQaDS6jrCGW5FBnf8Jir/sy2azD47jjAeDgbkUiqvljcfjL7lc7h4P8YAJFEBvOp1+rFarF7gR+8ygX4L/DoqHd4R+v8qy/CxJkpc8TORqUNxHh6aPel0ul7fIEwRhNSj8Q9M0r+Ado7ZJHvb/AbTX6+0ZhpFSFMXQdf2u2WyeIehgWmR4KjTCekJQ1BDRFfR391P2O5TCtVrtvFQqXVcqlUm/3z8ZDocjOgV5JFqTRzXK4BDTRfYDSo2mX8TcJtvttoRNCdu2k41GI9lqtRKdTkfCKeYeidbkUY0ytG+RxaDsMH+VkN4Bg/xUj8dF0hsAAAAASUVORK5CYII="/></a>
            </td>
        </tr>
        <tr>
            <td colspan="2"><a href="{{ query_manager.getEngineSwitcherUrl }}">Runtime logs</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ query_manager.getEngineSwitcherUrl }}&engine=symfony_log">All logs</a></td>
        </tr>
    </table>

    {# Chart #}
    {% if query_manager.hasEngine %}
        {% set logs_stack =  engine_data %}
    {% else %}
        {% set logs_stack =  collector.logs %}
    {% endif %}

    {% include 'BeautyLogBundle:Collector:loop.html.twig' %}

{% endblock %}


{% macro display_message(log_index, log) %}
    {% if constant('Symfony\\Component\\HttpKernel\\Debug\\ErrorHandler::TYPE_DEPRECATION') == log.context.type|default(0) %}
DEPRECATION -  {{ log.message }}
        {% set id = 'sf-call-stack-' ~ log_index %}
<a href="#"
   onclick="Sfjs.toggle('{{ id }}', document.getElementById('{{ id }}-on'), document.getElementById('{{ id }}-off')); return false;">
    <img class="toggle" id="{{ id }}-off" alt="-"
         src="data:image/gif;base64,R0lGODlhEgASAMQSANft94TG57Hb8GS44ez1+mC24IvK6ePx+Wa44dXs92+942e54o3L6W2844/M6dnu+P/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABIALAAAAAASABIAQAVCoCQBTBOd6Kk4gJhGBCTPxysJb44K0qD/ER/wlxjmisZkMqBEBW5NHrMZmVKvv9hMVsO+hE0EoNAstEYGxG9heIhCADs="
         style="display:none">
    <img class="toggle" id="{{ id }}-on" alt="+"
         src="data:image/gif;base64,R0lGODlhEgASAMQTANft99/v+Ga44bHb8ITG52S44dXs9+z1+uPx+YvK6WC24G+944/M6W28443L6dnu+Ge54v/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABMALAAAAAASABIAQAVS4DQBTiOd6LkwgJgeUSzHSDoNaZ4PU6FLgYBA5/vFID/DbylRGiNIZu74I0h1hNsVxbNuUV4d9SsZM2EzWe1qThVzwWFOAFCQFa1RQq6DJB4iIQA7"
         style="display:inline">
</a>
{% for index, call in log.context.stack if index > 1 %}
            {% if index == 2 %}
<ul class="sf-call-stack" id="{{ id }}" style="display: none">
    {% endif %}
    {% if call.class is defined %}
        {% set from = call.class|abbr_class ~ '::' ~ call.function|abbr_method() %}
    {% elseif call.function is defined %}
        {% set from = call.function|abbr_method %}
    {% elseif call.file is defined %}
        {% set from = call.file %}
    {% else %}
        {% set from = '-' %}
    {% endif %}

    <li>Called
        from {{ call.file is defined and call.line is defined ? call.file|format_file(call.line, from) : from|raw }}</li>

    {{ index == log.context.stack|length - 1 ? '</ul>' : '' }}
    {% endfor %}
    {% else %}
        {{ log.priorityName }} - {{ log.message }}
        {% if log.context is defined and log.context is not empty %}
            <br/>
            <small>
                <strong>Context</strong>: {{ log.context|json_encode(64 b-or 256) }}
            </small>
        {% endif %}
    {% endif %}
    {% endmacro %}
